<tbody>
  <tr *ngFor="let codigo of codigoDESDES" data-cy="entityTable">
    <td *ngIf="codigo.id">
      <a (click)="sendmsg(codigo, 'true')">{{ codigo.introduccion }}</a>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let seccion of seccions" data-cy="entityTable">
    <td>
      <!-- <a [routerLink]="['list/seccion', seccion.id]">{{ seccion.nombre }}</a> -->
      <a (click)="sendmsg(seccion, 'false')">{{ seccion.nombre }}</a>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let clasificador of clasificadores" data-cy="entityTable">
    <td>
      <p>Clasificador: {{ clasificador.id }}</p>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let identificador of identificadores" data-cy="entityTable">
    <td>
      <p>identificador: {{ identificador.nombre }}</p>
    </td>
  </tr>
</tbody>

<p>Testing list</p>
