<tbody>
  <tr *ngFor="let codigo of codigoDESDES" data-cy="entityTable">
    <td *ngIf="codigo.id">
      <a (click)="sendmsg(codigo, false)">{{ codigo.id }}</a>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let seccion of seccions" data-cy="entityTable">
    <td>
      <!-- <a [routerLink]="['list/seccion', seccion.id]">{{ seccion.nombre }}</a> -->
      <a (click)="sendmsg(seccion, true)">sec: {{ seccion.nombre }}</a>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let clasificador of clasificadores" data-cy="entityTable">
    <td>
      <a (click)="sendmsg(clasificador, true)">cla: {{ clasificador.nombre }}</a>
    </td>
  </tr>
</tbody>

<tbody>
  <tr *ngFor="let identificador of identificadores" data-cy="entityTable">
    <td>
      <a (click)="sendmsg(identificador, true)">iden: {{ identificador.nombre }}</a>
    </td>
  </tr>
</tbody>
