<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-codigo-desde-heading"
        data-cy="CodigoDESDECreateUpdateHeading"
        jhiTranslate="indexTestApp.codigoDESDE.home.createOrEditLabel"
      >
        Create or edit a Codigo DESDE
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.version" for="field_version">Version</label>
          <input type="text" class="form-control" name="version" id="field_version" data-cy="version" formControlName="version" />
          <div *ngIf="editForm.get('version')!.invalid && (editForm.get('version')!.dirty || editForm.get('version')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('version')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.fecha" for="field_fecha">Fecha</label>
          <div class="input-group">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="text"
              class="form-control"
              name="fecha"
              ngbDatepicker
              #fechaDp="ngbDatepicker"
              formControlName="fecha"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="fechaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
          <div *ngIf="editForm.get('fecha')!.invalid && (editForm.get('fecha')!.dirty || editForm.get('fecha')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('fecha')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.introduccion" for="field_introduccion"
            >Introduccion</label
          >
          <textarea
            class="form-control"
            name="introduccion"
            id="field_introduccion"
            data-cy="introduccion"
            formControlName="introduccion"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.terminologiaComun" for="field_terminologiaComun"
            >Terminologia Comun</label
          >
          <textarea
            type="text"
            class="form-control"
            name="terminologiaComun"
            id="field_terminologiaComun"
            data-cy="terminologiaComun"
            formControlName="terminologiaComun"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.importanciaContexto" for="field_importanciaContexto"
            >Importancia Contexto</label
          >
          <textarea
            type="text"
            class="form-control"
            name="importanciaContexto"
            id="field_importanciaContexto"
            data-cy="importanciaContexto"
            formControlName="importanciaContexto"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.descripcion" for="field_descripcion">Descripcion</label>
          <textarea
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.poblacionObjetivo" for="field_poblacionObjetivo"
            >Poblacion Objetivo</label
          >
          <textarea
            type="text"
            class="form-control"
            name="poblacionObjetivo"
            id="field_poblacionObjetivo"
            data-cy="poblacionObjetivo"
            formControlName="poblacionObjetivo"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="indexTestApp.codigoDESDE.referencia" for="field_referencia">Referencia</label>
          <textarea
            type="text"
            class="form-control"
            name="referencia"
            id="field_referencia"
            data-cy="referencia"
            formControlName="referencia"
            rows="5"
          ></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
