<div>
  <h2 id="page-heading" data-cy="IdentificadorHeading">
    <span jhiTranslate="indexTestApp.identificador.home.title">Identificadors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="indexTestApp.identificador.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-identificador"
        [routerLink]="['/identificador/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="indexTestApp.identificador.home.createLabel"> Create a new Identificador </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="identificadors?.length === 0">
    <span jhiTranslate="indexTestApp.identificador.home.notFound">No identificadors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="identificadors && identificadors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="indexTestApp.identificador.nombre">Nombre</span></th>
          <th scope="col"><span jhiTranslate="indexTestApp.identificador.codigo">Codigo</span></th>
          <th scope="col"><span jhiTranslate="indexTestApp.identificador.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="indexTestApp.identificador.clasificador">Clasificador</span></th>
          <th scope="col"><span jhiTranslate="indexTestApp.identificador.hijoI">Hijo I</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let identificador of identificadors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/identificador', identificador.id, 'view']">{{ identificador.id }}</a>
          </td>
          <td>{{ identificador.nombre }}</td>
          <td>{{ identificador.codigo }}</td>
          <td>{{ identificador.descripcion }}</td>
          <td>
            <div *ngIf="identificador.clasificador">
              <a [routerLink]="['/clasificador', identificador.clasificador?.id, 'view']">{{ identificador.clasificador?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="identificador.hijoI">
              <a [routerLink]="['/identificador', identificador.hijoI?.id, 'view']">{{ identificador.hijoI?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/identificador', identificador.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/identificador', identificador.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(identificador)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
