<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="clasificador">
      <h2 data-cy="clasificadorDetailsHeading"><span jhiTranslate="indexTestApp.clasificador.detail.title">Clasificador</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ clasificador.id }}</span>
        </dd>
        <dt><span jhiTranslate="indexTestApp.clasificador.nombre">Nombre</span></dt>
        <dd>
          <span>{{ clasificador.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="indexTestApp.clasificador.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ clasificador.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="indexTestApp.clasificador.ejemplos">Ejemplos</span></dt>
        <dd>
          <span>{{ clasificador.ejemplos }}</span>
        </dd>
        <dt><span jhiTranslate="indexTestApp.clasificador.seccion">Seccion</span></dt>
        <dd>
          <div *ngIf="clasificador.seccion">
            <a [routerLink]="['/seccion', clasificador.seccion?.id, 'view']">{{ clasificador.seccion?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="indexTestApp.clasificador.hijoC">Hijo C</span></dt>
        <dd>
          <div *ngIf="clasificador.hijoC">
            <a [routerLink]="['/clasificador', clasificador.hijoC?.id, 'view']">{{ clasificador.hijoC?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/clasificador', clasificador.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
