<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="identificador">
      <h2 data-cy="identificadorDetailsHeading">
        <span jhiTranslate="instrumentoDesdeApp.identificador.detail.title">Identificador</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ identificador.id }}</span>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.nombre">Nombre</span></dt>
        <dd>
          <span>{{ identificador.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.codigo">Codigo</span></dt>
        <dd>
          <span>{{ identificador.codigo }}</span>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ identificador.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.ejemplos">Ejemplos</span></dt>
        <dd>
          <span>{{ identificador.ejemplos }}</span>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.clasificador">Clasificador</span></dt>
        <dd>
          <div *ngIf="identificador.clasificador">
            <a [routerLink]="['/clasificador', identificador.clasificador?.id, 'view']">{{ identificador.clasificador?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="instrumentoDesdeApp.identificador.hijoI">Hijo I</span></dt>
        <dd>
          <div *ngIf="identificador.hijoI">
            <a [routerLink]="['/identificador', identificador.hijoI?.id, 'view']">{{ identificador.hijoI?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/identificador', identificador.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
