<div>
  <h2 id="page-heading" data-cy="CodigoDESDEHeading">
    <span jhiTranslate="indexTestApp.codigoDESDE.home.title">Codigo DESDE</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="indexTestApp.codigoDESDE.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-codigo-desde"
        [routerLink]="['/codigo-desde/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="indexTestApp.codigoDESDE.home.createLabel"> Create a new Codigo DESDE </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="codigoDESDES?.length === 0">
    <span jhiTranslate="indexTestApp.codigoDESDE.home.notFound">No codigoDESDES found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="codigoDESDES && codigoDESDES.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="version">
            <span jhiTranslate="indexTestApp.codigoDESDE.version">Version</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fecha">
            <span jhiTranslate="indexTestApp.codigoDESDE.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="introduccion">
            <span jhiTranslate="indexTestApp.codigoDESDE.introduccion">Introduccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="terminologiaComun">
            <span jhiTranslate="indexTestApp.codigoDESDE.terminologiaComun">Terminologia Comun</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="importanciaContexto">
            <span jhiTranslate="indexTestApp.codigoDESDE.importanciaContexto">Importancia Contexto</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="indexTestApp.codigoDESDE.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="poblacionObjetivo">
            <span jhiTranslate="indexTestApp.codigoDESDE.poblacionObjetivo">Poblacion Objetivo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referencia">
            <span jhiTranslate="indexTestApp.codigoDESDE.referencia">Referencia</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="referencia">
            <span jhiTranslate="indexTestApp.codigoDESDE.referencia">Seccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let codigoDESDE of codigoDESDES; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/codigo-desde', codigoDESDE.id, 'view']">{{ codigoDESDE.id }}</a>
          </td>
          <td>{{ codigoDESDE.version }}</td>
          <td>{{ codigoDESDE.fecha | formatMediumDate }}</td>
          <td>{{ codigoDESDE.introduccion }}</td>
          <td>{{ codigoDESDE.terminologiaComun }}</td>
          <td>{{ codigoDESDE.importanciaContexto }}</td>
          <td>{{ codigoDESDE.descripcion }}</td>
          <td>{{ codigoDESDE.poblacionObjetivo }}</td>
          <td>{{ codigoDESDE.referencia }}</td>
          <td *ngFor="let seccion of codigoDESDE.seccions">{{ seccion.id }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/codigo-desde', codigoDESDE.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/codigo-desde', codigoDESDE.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(codigoDESDE)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="codigoDESDES && codigoDESDES.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
