<div class="row">
  <div class="col-md-2">
    <h1>This is the list</h1>

    <div class="table-responsive" id="entities" *ngIf="codigoDESDES && codigoDESDES.length > 0"></div>
    <tbody>
      <tr *ngFor="let codigoDESDE of codigoDESDES; trackBy: trackId" data-cy="entityTable"></tr>
    </tbody>
  </div>

  <div class="col-md-10">
    <p>
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    </p>
  </div>
</div>
